@charset "ISO-8859-1";

body {
	background: url("../image/background3.png") no-repeat;
	background-size: cover;
}

.formContainer {
	display: flex;
	flex-direction: column;
	width: 45%;
	margin: 2% auto;
	border: 2px solid #e0e0e0;
	padding: 2%;
	height: 100%;
	box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.5);
	background-color: white;
	border-radius: 1%;
}

.formInscription {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: auto
}

.labFormInscription {
	display: flex;
	text-align: center;
	color: #E4C3AD;
	font-size: 2em;
	text-align: center;
}

.champFormIncription {
	height: 2em;
	width: 100%;
	border-radius: 2em;
	border: 0.5px solid #707070;
	width: 100%;
	font-size: 2em;
	display: flex;
}

.btnsubmit {
	width: 60%;
	height: 2em;
	display: flex;
	border: 0.16em solid rgba(255, 255, 255, 0);
	border-radius: 2em;
	color: #FFFFFF;
	text-align: center;
	transition: all 0.2s;
	background-color: #0D1F2D;
	font-size: 2em;
	margin: 2% auto;
}

a {
	text-decoration: none;
}

input.btnsubmit:hover {
	background: #E4C3AD;
}

h1 {
	margin: auto;
}

hr {
	border: 0.2em solid #707070;
	width: 100%;
	box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.26);
	border-radius: 2em;
	margin-top: 2%;
	margin-bottom: 2%;
}

ul {
	list-style-type: none;
	margin: 15px;
	padding: 15px;
	overflow: hidden;
}

nav {
	background-color: red;
}

li {
	float: right;
}

li a {
	display: block;
	color: grey;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}

#logo {
	position: absolute;
	font-size: 35px;
	top: 2%;
	left: 5%;
}

li a:hover {
	text-decoration: underline;
	background-color: #0D1F2D;
	color: white;
}