@charset "ISO-8859-1";
li{
  text-align: right;
  font-size: 1.7vh;

}

a{
  text-decoration: none;
    color:white;
  font-family: monospace;

  padding: 0.5vw;
    margin-right: 10px;
}

nav{

  opacity: 0.96;
  color:white;
  width: 100vw;
  background-color: #061B23;
}

ul{
  display: block;
  margin: 0;
  padding: 0;

  display: flex;
}




a:hover{
  background-color: #0B3847;
}


  ul{
    flex-direction: column;
  }

  a{
    display: block;
  }

  li{
    margin: 0;
  }

#btn{
    display: block;

    padding: 2vw;
    font-size: 3vh;
  background-color: #061B23;
    border: none;
    outline: none;
    cursor: pointer;
color: white;
    text-align: right;

  }
  #logo{position: absolute;
  top: 1%;}
  html, body{background: rgb(236, 240, 241);
    background-image: url(".//image/lib.jpg");

    background-repeat: no-repeat;
  }
    .grid-container {
  display: grid;
  grid-template-columns: 1.6fr 0.1fr 1.3fr;
  grid-template-rows: 2.7fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "ListeClient . ListeAnnonce"
    ". . .";
}
.ListeClient { grid-area: ListeClient;
background-color:blue;
width: 500px;
height: 500px;
background: linear-gradient(43deg, #0b3847 27%,#061b23 74%);
background: -moz-linear-gradient(43deg, #0b3847 27%,#061b23 74%);
background: -webkit-linear-gradient(43deg, #0b3847 27%,#061b23 74%);
border-radius: 50px 50px 50px 50px;
position:absolute;
right:30%;}

 h2{
   color: white;
   text-align:center;
 }
 .search {
   width: 30%;
   padding: 10px;
   background: #061B23;
   color: white;
   font-size: 17px;
   border: 1px solid white;
   border-left: none;
   cursor: pointer;
 }
.Client{background: grey;
   font-size: 13px;
     border-radius: 5px 5px 5px 5px;
     color:white;
}
.desactiver{
  background: red;

}
.consulter{
background: #061B23;
}
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: rgba( 71, 147, 227, 1);
}
h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    	
}

.fl-table td, .fl-table th {
	
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}
.table-wrapper{height: 1200px;}
/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}
h1{text-align: center}
@font-face {
  font-family: "Karla regular";
 src: url("../font/Karla-Regulat.ttf");
}