@charset "ISO-8859-1";

.split {
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

.formContainer {
	left: 0;
	display: flex;
	flex-direction: column;
	width: 40%;
	height: 100%;
	border: solid black;
	display: flex;
}

.formInscription {
	display: flex;
	flex-direction: column;
	width: 75%;
}

.labFormInscription {
	margin-top: 2%;
	margin-left: 30%;
	margin-bottom: 2%;
	text-align: center;
	color: #E4C3AD;
	font-size: 2em;
}

.champFormIncription {
	height: 2.5em;
	width: 100%;
	border-radius: 2em;
	border: 0.5px solid #707070;
	width: 100%;
	margin-left: 15%;
	font-size: 2em;
}

#singIn {
	margin-top: 3%;
	margin-left: 45%;
	display: flex;
	color: #E4C3AD;
	font-size: 2em;
}

#logo {
	margin-top: 10%;
}

#btnsubmit {
	width: 60%;
	height: 2em;
	border: 0.16em solid rgba(255, 255, 255, 0);
	border-radius: 2em;
	color: #FFFFFF;
	text-align: center;
	transition: all 0.2s;
	background-color: #0D1F2D;
	margin-top: 5%;
	margin-left: 36%;
	font-size: 2em
}

#btnsubmit:hover{
 background-color: #E4C3AD;
}


.imgLeft {
	right: 0;
	display: flex;
	flex-direction: row;
	background: url("../image/background3.png") no-repeat;
	background-size: cover;
	width: 60%;
}


.citation {
	margin: auto;
	font-size: 5em;
	color: white;
}