body{
	margin: 0;
}

header{

	background-color: #0D1F2D;
	margin : 0;
	margin-top: -20px;

	
}
	
ul {
	list-style-type: none;
	margin: 15px;
	padding: 15px;
	overflow: hidden;

}

nav {
	background-color: red;
}

li {
	float: right;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}

#logo {
	position: absolute;
	font-size: 35px;
	top : 0%;
	left: 5%;
}

li a:hover {
	text-decoration: underline;
	background-color: white;
	color: #0d1f2d;
}

.container{
	
	margin-left: 1%;
}

.annonces-container{
	margin : auto;
	width: 70%;
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}
.annonce {
	
	margin : 20px auto;
	padding: 0 20px 0 20px;
	width: 100%;
	height: 500px;
	display: flex;
	align-items:center;
	justify-content:space-around;
	border-radius: 10px;
	box-shadow: 5px 5px 5px 5px rgba(146, 131, 131, 0.466);
}
	

.div-img {
	border-radius: 5%;
	height: 90%;
}

.div-img img{
	width: 390px;
	height: 100%;
	border-radius: 5px;
}

.div-right{
	border: 1px solid black;
	border-radius: 5px 5px 5px 5px;
	width:  70%;
	height: 90%;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.div-info{
	padding:5px;
	display: flex;
	justify-content: space-around;	
}

.div-service{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.div-sud{
	display: flex;
	flex-direction: column-reverse;
}
.div-sud p {
	padding: 0;
	margin: 5px;
}

.line{
	padding: 0;
	margin: 0;
	height: 5px;
	background-color: black;
}
.title{
	font-size: 60px;
	font-weight: bolder;
	margin: 0px 0 0 0;
}

.info{
	font-size: 22px;
	margin:5px;	
}

.dateA{
	font-size: 25px;
	margin-top: 35px;
}

.prix{
	font-size: 45px;
	font-weight: bolder;
	color: #E4C3AD;
}

.div-title{
	padding: 10px;
}

.div-pagination{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}

.btn {
	width: 100%;
	height: 2em;
	border: 0.16em solid rgba(255, 255, 255, 0);
	border-radius: 2em;
	color: #FFFFFF;
	text-align: center;
	transition: all 0.2s;
	background-color: #0D1F2D;
	margin-top: 5%;
	margin-left: 20%;
	font-size: 2em;
}

.btn:hover {
	background: #E4C3AD;
}