@charset "ISO-8859-1";

body {
	background: url("../image/background3.png") no-repeat;
	background-size: cover;
}

.formContainer {
	display: flex;
	flex-direction: column;
	width: 45%;
	margin: 2% auto;
	border: 2px solid #e0e0e0;
	padding: 2%;
	height: 100%;
	box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.5);
	background-color: white;
	border-radius: 1%;
}

.formInscription {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: auto
}

.labFormInscription {
	display: flex;
	text-align: center;
	color: #E4C3AD;
	font-size: 2em;
	text-align: center;
}

.champFormIncription {
	height: 2em;
	width: 100%;
	border-radius: 2em;
	border: 0.5px solid #707070;
	width: 100%;
	font-size: 2em;
	display: flex;
}

#btnsubmit {
	width: 60%;
	height: 2em;
	display: flex;
	border: 0.16em solid rgba(255, 255, 255, 0);
	border-radius: 2em;
	font-weight: 300;
	color: #FFFFFF;
	text-align: center;
	transition: all 0.2s;
	background-color: #0D1F2D;
	font-size: 2em
}

#singIn {
	display: flex;
	color: #E4C3AD;
	font-size: 2em;
	flex-direction: row-reverse;
	margin-top: -7%;
	width: 30%;
	margin-left: 70%;
}

hr {
	border: 0.2em solid #707070;
	width: 100%;
	box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.26);
	border-radius: 2em;
	margin-top: 2%;
	margin-bottom: 2%;
}

#logo {
	width: 60%;
	margin: auto;
}


#btnsubmit:hover {
	background: #E4C3AD;
}