@charset "ISO-8859-1";
body {
	background: url("../image/background3.png") no-repeat;
	background-size: cover;
}

h1{
	margin: auto;
	font-size: 3em;
}

.Container {
	display: flex;
	flex-direction: column;
	width: 45%;
	margin: 4% auto;
	border: 2px solid #e0e0e0;
	padding: 2%;
	height: 100%;
	box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.5);
	background-color: white;
	border-radius: 1%;
}

.formAnnonce {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: auto
}

.labForm {
	display: flex;
	text-align: center;
	color: #E4C3AD;
	font-size: 2em;
	text-align: center;
}

.champForm {
	height: 1.5em;
	width: 100%;
	border-radius: 2em;
	border: 0.5px solid #707070;
	width: 100%;
	font-size: 1.5em;
	display: flex;
}

#btnsubmit {
	width: 60%;
	height: 2em;
	border: 0.16em solid rgba(255, 255, 255, 0);
	border-radius: 2em;
	color: #FFFFFF;
	text-align: center;
	transition: all 0.2s;
	background-color: #0D1F2D;
	margin-top: 5%;
	margin-left: 20%;
	font-size: 2em;
}

#btnsubmit:hover {
	background: #E4C3AD;
}


ul {
	list-style-type: none;
	margin: 15px;
	padding: 15px;
	overflow: hidden;
}

nav {
	background-color: red;
}

li {
	float: right;
}

li a {
	display: block;
	color: grey;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}

#logo {
	position: absolute;
	font-size: 35px;
	top: 3%;
	left: 5%;
}

li a:hover {
	text-decoration: underline;
	background-color: #0D1F2D;
	color: white;
}